.Library-Section-main-div{
    width: 100vw;
    height: auto;
    /* border: 1px solid red; */
}
.Library-Section-top-div{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Library-Section-top-div i{
    position: absolute;
    top: 3vh;
    left: 3vw;
}

/* ----------- */

.Library-Section-top-lower-div{
    width: 100%;
    height: 11vh;
 
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.Library-Section-top-lower-div input{
    width: 95%;
    height: 50%;
    border: 1px solid rgb(0, 0, 0,0.1);
    border-radius: 10px;
    position: relative;
    padding: 0 8vw;
}
.Library-Section-top-lower-div input label{
    position: absolute;
}

/* ----------Search Result Section---------- */

.Library-Section-top-lower-show-search-result-div{
    width: 100%;
    height: 50vh;
    padding: 1vh 2vw;
    background-color: rgb(252, 252, 252);
    transition: height 1s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.Library-Section-top-lower-show-search-result-div i{
    position: absolute;
    top: 2vh;
    left: 2vh;
    cursor: pointer;
}
.Library-Section-top-lower-hide-search-result-div i{
    position: absolute;
    top: 2vh;
    left: 2vh;
    cursor: pointer;
}

.Library-Section-top-lower-hide-search-result-div{
    width: 100%;
    height: 0;
    padding: 0 2vw;
    background-color: rgb(249, 249, 250);
    transition: height 1s ease-out;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



/* --------- */
.Library-Section-mid-div{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    padding: 2vh 3vw;
}
.Library-Section-mid-div-inner{
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
    background-color: rgb(250, 250, 250);
}
.Library-Section-mid-div-inner-head{
    width: 100%;
    height: 5vh;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw 0 3vw;
    font-weight: bold;
    color: gray;
    padding-top: 1.5vh;
}

.Library-Section-mid-div-inner-head-R-NR{
    width: 22%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
}

.Library-Section-bottom-div-individual-inner{
    width: 100%;
    height: 11vh;
    /* border-bottom: 1px solid rgb(0, 0, 0,0.2); */
    display: flex;
    justify-content: space-between;
    padding-right: 2vw;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 1.5vh;
    margin-bottom: 1vh;
    /* border: 1px solid red; */
}
.Library-Section-bottom-div-individual-inner-sub{
    width: 70%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Library-Section-bottom-div-individual-inner-sub p{
    font-size: 0.85rem;
}

.Library-Section-bottom-div-individual-inner-sub-data{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3vw;
    /* align-items:center; */
    /* border: 1px solid green; */
}
.Library-Section-bottom-div-individual-inner-sub-bottom{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    /* border: 1px solid green; */
    padding: 0 3vw;
    padding-left: 7%;
    
}
.Library-Section-bottom-div-individual-inner-sub-data-two{
    width: 64%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    /* border: 1px solid yellow; */
}
.Library-Section-bottom-div-individual-inner-sub-data p{
    margin: 0;
}
.Library-Section-bottom-div-individual-inner-sub-data-two p{
    margin: 0;
}



/* ----------------- */




/* ---------- */
.Library-Section-space-adder-div{
    height: 50vh;
}