.Message-list-main-div{
    width: 100vw;
    height: auto;
    /* border: 1px solid red; */
}
.Message-list-top-div{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Message-list-top-div i{
    position: absolute;
    top: 3vh;
    left: 3vw;
}


/* ------ */
.Message-list-mid-button-div{
    width: 100%;
    height: 5vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 0 3vw;
}
.Message-list-mid-button-div-button-active{
    width: 47%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #a26eea;
    color: #a26eea;
    font-weight: bold;
}
.Message-list-mid-button-div-button-inactive{
    width: 47%;
    background-color: transparent;
    border: none;
    /* border-bottom: 2px solid #6762a6; */
    /* color: #6762a6; */
    font-weight: bold;
}


/* -------Messages----- */
.Message-list-mid-messages-div{
    width: 100%;
    margin-top: 5vh;
    /* border: 1px solid red; */
}


/* -----Individual Message----- */
.Message-list-mid-individual-messages-div{
    width: 100%;
    padding: 0 5vw;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Message-list-mid-individual-inner{
    width: 90vw;
    height: 11vh;
    border-bottom: 1px solid rgb(0, 0, 0,0.2);
    display: flex;
    justify-content: space-between;
    padding-right: 2vw;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 1.5vh;
    margin-bottom: 3vh;
}
.Message-list-mid-individual-inner-sub{
    width: 60%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Message-list-mid-individual-inner-sub-image{
    width: 28%;
    height: 90%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: baseline;
    /* border: 1px solid red; */
}
.Message-list-mid-individual-inner-sub img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.Message-list-mid-individual-inner-sub-data{
    width: 64%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items:center; */
    /* border: 1px solid green; */
}
.Message-list-mid-individual-inner-sub-data p{
    margin: 0;
}




/* -----Group Message----- */
.Message-list-mid-group-messages-div{
    width: 100%;
    padding: 0 5vw;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* ----------- */
.Message-list-space-adder-div{
    width: 100%;
    height: 50vh;
}

